@import "compass"
@import "compass/reset"

#graph
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0

#text
  position: absolute
  top: 0
  left: 0
  width: 50%
  height: 20%

#samplecounter
  position: absolute
  bottom: 0
  left: 0
  z-index: 9999
